<% if current_user.friend_with? @user %>
<h2><%= @user.username %></h2>
	<ul>
	<%= @user.bottles.each do |b| %>
		<li><%= b.wine.name %></li>
	<% end %>
	</ul>

<% elsif current_user == @user %>
<h2>This is you</h2>
	<ul>
	<% @user.bottles.each do |b| %>
		<li><%= b.wine.name %></li>
	<% end %>
	</ul>
<% else %>
<h2><%= @user.username %></h2>
<h2>Not your friend</h2>
<% end %>


