<div class="grid-block">
<div class="grid-container" id="main-container">
 

<% if @user != nil %>

	<h1>Hello <%= @user.email %></h1>
    <ul>
        <% @wines.each do |w| %>
            <li><%= w.name %> <%= w.vintage %>
            <%= image_tag "http://cdn.alko.fi/ProductImages/Scaled/469287/product.jpg" %>
            </li>
        <% end %>
    </ul>

	<%= link_to('Edit information', edit_user_registration_path) %>
	<%= link_to('Logout', destroy_user_session_path, :method => :destroy) %>
<% else %>
	<h1>cellari</h1>

    <%= form_for(:user, :url => session_path(:user)) do |f| %>
    	<%= f.text_field :email, placeholder: "Email" %>
    	<%= f.password_field :password, placeholder: "Password" %>
    	<%= f.check_box :remember_me %>
    	<%= f.label :remember_me %>
    	<%= f.submit 'Sign in' %>
        <br>
    	<%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %>

    <%= link_to "Not a member? Sign up", new_user_registration_path %>

<% end %>
</div>
</div>