<% content_for :title, "Cellari" %>

<% if @user != nil %>




  <p id="error"><%= flash[:error] %></p>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="notice"><%= flash[:alert] %></p>


<h4>Here be some sort of stream</h4>

<% else %>

<div id="loginbackground">



    <div class="panel callout radius loginPanel">
        <h1>cellari</h1>
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <br>
        <%= f.submit 'Sign in', class: "button success round" %>
        <br>
        <% end %>
        <div class="accountManage">
            <%= link_to "Forgot your password?", new_password_path(:user) %>
            <br>
            <%= link_to "Not a member? Sign up", new_user_registration_path %>
        </div>

        <small>Work in progress. By Antti Tolppanen.</small>

        <% end %>
    </div>
</div>
