

<% if @user != nil %>

<h1 id="mainTitle">Hello <%= @user.email %></h1>
<h4> <%= @bottles.count %> </h4>

<div class="wineListHolder">
    <button class="button success" id="addWineButton" onclick="toggleAddBottleField()">Add Bottle</button>

    <div id="bottleCreator">

        <%= form_for @newbottle do |f| %>


        <%= f.hidden_field :user_id, :value => current_user.id %></p>
        <%= f.collection_select(:wine_id, Wine.all, :id, :name) %>

        <%= submit_tag %>

        <% end %>

    </div>

    <div class="row small-up-1 medium-up-2 large-up-4">

        <% @bottles.each do |b| %>

        <div class="column wineTile">
            <%= link_to root_path, nil, style: 'color:#FFFFFF;' do %>
            <!-- Fetch product images from Alko cdn -->
            <% if b.wine != nil %>
            <img src="http://cdn.alko.fi/ProductImages/Scaled/<%= b.wine.product_number %>/product.jpg">
            <h5><%= b.wine.name %></h5>
            <h6><%= b.wine.vintage %></h6>
               <% end %>  
               <% end %>  
            <button id="drinkWineButton<%= b.id %>" class="button success" onclick="showReviewBox(<%= b.id %>)">Drink</button>    
            <form class="wineReviewBox" id="wineReviewBox<%= b.id %>">
                <input type="text" name="firstname"><br>
                <%= link_to 'Destroy', b, :method => :delete, :dconfirm => 'Are you sure?', class: 'button success' %>
            </form>

    
        </div>

        <% end -%>



        <div>
            <%= link_to('Edit information', edit_user_registration_path) %>
            <%= link_to('Logout', destroy_user_session_path, :method => :destroy) %>

        </div>

        <% else %>


        <div class="panel callout radius loginPanel">
            <h1>cellari</h1>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.text_field :email, placeholder: "Email" %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <br>
            <%= f.submit 'Sign in', class: "button success round" %>
            <br>
            <% end %>
            <div class="accountManage">
                <%= link_to "Forgot your password?", new_password_path(:user) %>
                <br>
                <%= link_to "Not a member? Sign up", new_user_registration_path %>
            </div>

            <% end %>
        </div>