<div class="main-nav-header">

  <div class="demo-layout-transparent mdl-layout mdl-js-layout main-navigation">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Cellari</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <%= link_to('Bottles', bottles_path,  :class => "mdl-navigation__link") %>
          <%= link_to('Journal', bottles_path,  :class => "mdl-navigation__link") %>
          <%= link_to('Wines', wines_path,  :class => "mdl-navigation__link") %>
          <%= link_to('Friends', friends_path,  :class => "mdl-navigation__link") %>
          <%= link_to(current_user.username, edit_user_registration_path, :class => "mdl-navigation__link") %>
          <%= link_to('Sign out',  destroy_user_session_path, :method => :destroy,  :class => "mdl-navigation__link") %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer menu-button">
      <span class="mdl-layout-title">Cellari</span>
      <nav class="mdl-navigation">
          <%= link_to('Bottles', bottles_path,  :class => "mdl-navigation__link") %>
          <%= link_to('Journal', bottles_path,  :class => "mdl-navigation__link") %>
          <%= link_to('Wines', wines_path,  :class => "mdl-navigation__link") %>
          <%= link_to('Friends', friends_path,  :class => "mdl-navigation__link") %>
          <%= link_to(current_user.username, edit_user_registration_path, :class => "mdl-navigation__link") %>
          <%= link_to('Sign out',  destroy_user_session_path, :method => :destroy,  :class => "mdl-navigation__link") %>
      </nav>
    </div>
    <main class="mdl-layout__content">
    </main>
  </div>

<div class="mobile-title"><h3>Cellari</h3></div>

</div>

<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->