<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
</head>

<body>

	<p id="error"><%= flash[:error] %></p>
	<p id="notice"><%= flash[:notice] %></p>
	<p id="notice"><%= flash[:alert] %></p>

	<%= yield %>

</body>
</html>
