<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "foundation" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>

  <body>


	<% if current_user != nil %>
    <%= render "layouts/navigation" %>
    
  <% end %>
  


    <%= yield %>

  </body>
</html>
